// Color Palette Map

$op-colors: (
    'black':        #333333,
    'grey-dark':    #686868,
    'grey':         #aeadaf,
    'grey-light':   #d7d4d3,
    'offwhite':     #f7f7f7,
    'white':        #ffffff,

    'orange':       #ff6c2c,
    'orange-light': #fdbca6,
    'orange-dark':  #d74000,

    'grey-blue':    #2c3238,
    'blue-iris':    #14c0c0
);

@function op-color($key: 'grey') {
    @return map-get($op-colors, $key);
}

$op-color-theme: (
    primary: op-color('orange-dark'),
    secondary: op-color('grey-blue'),
    neutral: op-color('offwhite')
);

// layout colors

$bg-color: op-color('white');
$border-color: op-color('grey-light');

// text colors

$text-color: op-color('black');
$text-color-muted: op-color('grey');
$link-color: op-color('orange-dark');
$link-color-hover: op-color('orange');

$placeholder-color: op-color('grey');

$code-bg-color: #f8f8f8;
$code-text-color: #dd1144;

// miscellaneous colors

$focus-color: op-color('blue-iris');
$focus-shadow: 0 0 10px op-color('blue-iris'),
    0 0 5px op-color('blue-iris');
$disabled-bg-color: op-color('grey-light');
