@import '../../vendor/bourbon/functions/shade';
@import '../../vendor/bourbon/functions/tint';

// core brand colors
$op-color-orange: #ff6c2c;
$op-color-blue:   #2cbfff;
$op-color-space:  #2c3238;

$op-colors: ();
// use tint() and shade() to develop color maps

$op-colors-gray: (
    'black':        shade($op-color-space, 11%),
    'gray-900':     $op-color-space,
    'gray-800':     tint($op-color-space, 11%),
    'gray-700':     tint($op-color-space, 22%),
    'gray-600':     tint($op-color-space, 33%),
    'gray-500':     tint($op-color-space, 44%),
    'gray-400':     tint($op-color-space, 55%),
    'gray-300':     tint($op-color-space, 66%),
    'gray-200':     tint($op-color-space, 77%),
    'gray-100':     tint($op-color-space, 88%),
    'gray-50':      tint($op-color-space, 95%),
    'white':        #ffffff,
);
$op-colors: map-merge($op-colors, $op-colors-gray);

$op-colors-orange: (
    'orange-900':     shade($op-color-orange, 80%),
    'orange-800':     shade($op-color-orange, 60%),
    'orange-700':     shade($op-color-orange, 40%),
    'orange-600':     shade($op-color-orange, 20%),
    'orange-500':     $op-color-orange,
    'orange-400':     tint($op-color-orange, 20%),
    'orange-300':     tint($op-color-orange, 40%),
    'orange-200':     tint($op-color-orange, 60%),
    'orange-100':     tint($op-color-orange, 80%)
);
$op-colors: map-merge($op-colors, $op-colors-orange);

$op-colors-blue: (
    'blue-900':     shade($op-color-blue, 80%),
    'blue-800':     shade($op-color-blue, 60%),
    'blue-700':     shade($op-color-blue, 40%),
    'blue-600':     shade($op-color-blue, 20%),
    'blue-500':     $op-color-blue,
    'blue-400':     tint($op-color-blue, 20%),
    'blue-300':     tint($op-color-blue, 40%),
    'blue-200':     tint($op-color-blue, 60%),
    'blue-100':     tint($op-color-blue, 80%)
);
$op-colors: map-merge($op-colors, $op-colors-blue);

@function op-color($key: 'gray') {
    @return map-get($op-colors, $key);
}

$op-color-theme: (
    special: op-color('orange-600'),
    primary: op-color('blue-600'),
    secondary: op-color('gray-600'),
    neutral: op-color('gray-100')
);

@function link-hover-focus($color) {
    @return lighten($color, 15%);
}

// layout colors

$bg-color: op-color('white');
$bg-color-dark: op-color('gray-900');
$border-color: op-color('gray-100');

// text colors

$text-color: op-color('black');
$text-color-muted: op-color('gray-400');
$text-color-light: op-color('white');

$link-color: op-color('blue-700');
$link-color-hover: link-hover-focus($link-color);
$link-color-alt: op-color('gray-600');
$link-color-alt-hover: link-hover-focus($link-color-alt);
$link-color-light: op-color('gray-200');
$link-color-light-hover: link-hover-focus($link-color-light);

$placeholder-color: op-color('gray-300');

$code-bg-color: #f8f8f8;
$code-text-color: #dd1144;

// miscellaneous colors

$focus-color: op-color('blue-300');
$focus-shadow: 0 0 10px op-color('blue-300'),
    0 0 5px op-color('blue-300');
$disabled-bg-color: op-color('gray-100');
