<header class="site-header">
    <div class="site-header__nav" media-desktop="display-none">
        <div class="menu-icon">
            <span></span>
        </div>
    </div>
    <div class="site-header__nav">
        <a href="#" class="site-header__link mr-s">
            <div class="site-header__logo offerpad-logo">
                OfferPad
            </div>
        </a>
        <a href="#" class="site-header__link display-none" media-desktop="!display-none">
            Sell
        </a>
        <a href="#" class="site-header__link display-none" media-desktop="!display-none">
            Buy
        </a>
        <a href="#" class="site-header__link display-none" media-desktop="!display-none">
            Pricing
        </a>
        <a href="#" class="site-header__link display-none" media-desktop="!display-none">
            Benefits
        </a>
        <a href="#" class="site-header__link display-none" media-desktop="!display-none">
            How It Works
        </a>
        <a href="#" class="site-header__link display-none" media-desktop="!display-none">
            Company
        </a>
    </div>
    <div class="site-header__nav">
        <a href="tel:18443884539" class="site-header__link text-size-l" media-desktop="!text-size-l">
            <i class="fa fa-phone"></i>
            <span class="sr-only"  media-desktop="!sr-only">1-844-388-4539</span>
        </a>
    </div>
</header>
