<footer class="site-footer {{ include.class }}">
    <section class="container">
        <div class="site-footer__nav">
            <ul class="nav-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">How it works</a>
                </li>
                <li>
                    <a href="#">Our pricing</a>
                </li>
                <li>
                    <a href="#">Agent Access</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
            <ul class="nav-list">
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Press</a>
                </li>
                <li>
                    <a href="#">Feedback</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
            <ul class="nav-list">
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-facebook"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-twitter"></i> Twitter
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-github"></i> GitHub
                    </a>
                </li>
            </ul>
            <ul class="nav-list">
                <li>
                    <a href="#">844-388-4539</a>
                </li>
                <li>
                    <a href="#">info@offerpad.com</a>
                </li>
                <li class="mt-m">
                    <a href="#">Privacy policy</a>
                </li>
                <li>
                    <a href="#">Terms of use</a>
                </li>
            </ul>
        </div>
        <div class="site-footer__legal">
            <p>© 2017 OfferPad. All Rights Reserved. OfferPad is a real estate investment company.</p>
            <p>One or more members of OfferPad are licensed real estate agents in Arizona, Florida, Georgia, Nevada, and Utah.</p>
        </div>
    </section>
</footer>
