<header class="c-header c-header--dark">
    <div class="c-menu-icon c-menu-icon--dark js-menu-button mr-s">
        <span></span>
    </div>
    <a class="c-header__link mr-s" href="{{ site.baseurl }}/">
        <div class="c-header__logo c-logo--offerpad">
            OfferPad Style Guide
        </div>
    </a>
    <nav class="c-header__nav c-header__nav--mobile js-nav-menu">
        <ul class="u-list-unstyled">
            <!-- <li>
                <a class="js-nav-link c-header__link" tabindex="0">
                    Branding
                </a>
            </li>
            <li>
                <a class="js-nav-link c-header__link" tabindex="0">
                    Marketing
                </a>
            </li> -->
            <li>
                <a class="js-nav-link c-header__link" tabindex="0">
                    Development
                </a>
                <div class="js-nav-drawer c-header__drawer">
                    <button class="js-drawer-close c-header__drawer__close">
                        <i class="fa fa-chevron-left"></i>
                        Go back
                    </button>
                    <div class="c-header__drawer__inner">
                        {% assign base = site.docs | where: 'type', 'base' | sort: 'name' %}
                        <ul class="c-nav-list" media-nav-bp="u-w-25">
                            <li class="c-nav-list__header">Base Styling</li>
                            {% for doc in base %}
                            <li>
                                <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% assign elements = site.docs | where: 'type', 'elements' | sort: 'name' %}
                        <ul class="c-nav-list" media-nav-bp="u-w-25">
                            <li class="c-nav-list__header">Page Elements</li>
                            {% for doc in elements %}
                            <li>
                                <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% assign patterns = site.docs | where: 'type', 'patterns' | sort: 'name' %}
                        <ul class="c-nav-list" media-nav-bp="u-w-25">
                            <li class="c-nav-list__header">Design Patterns</li>
                            {% for doc in patterns %}
                            <li>
                                <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- {% assign examples = site.examples | where: 'type', 'examples' | sort: 'name' %}
                        <ul class="c-nav-list" media-nav-bp="u-w-25">
                            <li class="c-nav-list__header">Example Pages</li>
                            {% for example in examples %}
                            <li>
                                <a href="{{ site.baseurl }}{{ example.url }}"{% if example.url == page.url %} class="active"{% endif %}>{{ example.title }}</a>
                            </li>
                            {% endfor %}
                        </ul> -->
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
