<nav class="navigation js-collapsed">
    <div class="navigation__header">
        <div class="menu-icon js-menu-button">
            <span></span>
        </div>
        <div class="navigation__logo offerpad-logo">
            OfferPad Style Guide &amp; Pattern Library
        </div>
    </div>
    <div class="navigation__list js-nav-menu">
        <div class="navigation__logo offerpad-logo">
        </div>
        <div class="navigation__group">
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/"{% if page.url == '/' %} class="active"{% endif %}>Overview</a>
                </li>
            </ul>
        </div>
        {% assign get-started = site.docs | where: 'type', 'get-started' | sort: 'name' %}
        <div class="navigation__group">
            <ul>
                <li class="list-header">Getting Started</li>
                {% for doc in get-started %}
                <li>
                    <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% assign base = site.docs | where: 'type', 'base' | sort: 'name' %}
        <div class="navigation__group">
            <ul>
                <li class="list-header">Base Styling</li>
                {% for doc in base %}
                <li>
                    <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% assign elements = site.docs | where: 'type', 'elements' | sort: 'name' %}
        <div class="navigation__group">
            <ul>
                <li class="list-header">Page Elements</li>
                {% for doc in elements %}
                <li>
                    <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% assign patterns = site.docs | where: 'type', 'patterns' | sort: 'name' %}
        <div class="navigation__group">
            <ul>
                <li class="list-header">Design Patterns</li>
                {% for doc in patterns %}
                <li>
                    <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% assign examples = site.examples | where: 'type', 'examples' | sort: 'name' %}
        <div class="navigation__group">
            <ul>
                <li class="list-header">Example Pages</li>
                {% for example in examples %}
                <li>
                    <a href="{{ site.baseurl }}{{ example.url }}"{% if example.url == page.url %} class="active"{% endif %}>{{ example.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
