$menu-bar-height: 0.1875rem;

.menu-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 2rem;
    @include margin-right(2/3);
    cursor: pointer;
    border-radius: 0.25em;
    color: op-color('grey');
    @include hover-focus {
        color: $link-color-hover;
        background: op-color('offwhite');
    }
    span,
    span:before,
    span:after {
        display: block;
        position: absolute;
        height: $menu-bar-height;
        background: currentColor;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 0.125em;
    }
    span {
        top: 50%;
        margin-top: $menu-bar-height / -2;
        width: 1.25rem;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 75ms;
        &:before,
        &:after {
            content: '';
        }
        &:before {
            top: $menu-bar-height * -2;
            width: 50%;
            transition: top 75ms ease .12s, opacity 75ms ease;
        }
        &:after {
            bottom: $menu-bar-height * -2;
            width: 75%;
            transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
        }
    }
    &--x {
        span {
            transform: rotate(45deg);
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            &:before {
                top: 0;
                opacity: 0;
                transition: top 75ms ease, opacity 75ms ease .12s;
            }
            &:after {
                width: 100%;
                bottom: 0;
                transition: bottom 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
                transform: rotate(-90deg);
            }
        }
    }
}
