$header-height: 3rem;

.navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    background: $bg-color;
    &__header {
        display: flex;
        align-items: center;
        height: $header-height;
        @include padding(0 1);
        @include box_shadow(1);
    }
    &__logo {
        display: block;
        img {
            display: block;
            height: 1.2rem;
        }
    }
    &__list {
        display: none;
        height: calc(100vh - #{$header-height});
    }
    &__group {
        border-top: 3px solid op-color('grey-light');
    }
    ul {
        padding-left: 0;
        margin: 0;
    }
    li {
        list-style: none;
        text-align: center;
        font-weight: 600;
        font-style: italic;
        a {
            display: block;
            @include padding(0 1);
            color: op-color('grey-dark');
            text-decoration: none;
            @include hover-focus {
                background-color: op-color('offwhite');
            }
        }
    }
    .list-header {
        text-transform: uppercase;
        font-style: normal;
        a {
            @include padding(1);
            color: op-color('black');
        }
    }
}
