.nav-list {
    padding-left: 0;
    margin: 0;
    color: $text-color-muted;
    li {
        list-style: none;
        text-align: left;
        a {
            display: block;
            @include padding(0.25 1);
            text-decoration: none;

        }
    }
    .list-header {
        @include margin-top(1);
        @include margin-bottom(0.25);
    }
}
