---
title: About Page Example
description: Example of OfferPad about page.
---

<div class="page">
    {% include example-header.html %}
    <main class="page__main">
        <section class="container hero aspect-ratio aspect-ratio--21-9 bg-orange-dark text-white" style="background-image: url(/assets/images/examples/hero-about.jpg);">
            <h1 class="sr-only">About OfferPad</h1>
        </section>
        <section class="container text-center pt-l pb-l">
            <h2>We're ready to help you move on</h2>
            <p>OfferPad launched in 2015 with a simple goal: Use our decades of experience to provide a better way for homeowners to sell their homes. Make the process dramatically more efficient. Make it hassle-free. Be ready to move as fast as homeowners need. And of course, do it all online.</p>
            <p>Welcome to real estate reinvented. <strong>Welcome to OfferPad.</strong></p>
        </section>
        <section class="bg-gray-50 pt-l pb-l container" media-desktop-large="!container container-large">
            <h2 media-desktop-large="text-center mb-l">Our founders' story</h2>
            <div media-desktop-large="display-flex flex-row">
                <img src="/assets/images/examples/about-team-pic.jpg" alt="about team pic" class="img-fluid" media-desktop-large="align-self-center w-67" />
                <div media-desktop-large="align-self-center w-33 pl-m">
                    <p>After years of working in various real estate endeavors independently, Brian Bair and Jerry Coleman teamed up in 2009. Since that time, the innovative duo combined to buy and sell tens of thousands of homes across the U.S. The industry knowledge they have gained along the journey, provides them unique insight into what homeowners need today.</p>
                    <p>Brian and Jerry launched OfferPad in 2015 to empower homeowners. Providing convenience, control, freedom and certainty when it's time to sell. Since launch, thousands of homeowners have been given the ability to request, receive and accept a competitive purchase offer from OfferPad&mdash;all online&mdash;any day they choose.</p>
                </div>
            </div>
        </section>
        <section class="container pt-l pb-l" media-desktop-large="!container container-base">
            <div media-desktop-large="container text-center mb-l">
                <h2>Proudly serving</h2>
                <p>OfferPad is only available in the markets we know best. Why? Our decades of street-level experience in these cities makes it possible for us to provide homeowners our top purchase price, and a superior level of service throughout the entire process.</p>
                <p>Our experience is your opportunity.</p>
            </div>
            <div media-desktop-large="display-flex flex-row-reverse justify-content-center">
                <img src="/assets/images/examples/serving-locations.svg" alt="serving locations" class="img-fluid"  media-desktop-large="align-self-center w-67" />
                <div class="serving-locations" media-desktop-large="align-self-center pr-m">
                    <h3>Locations</h3>
                    <dl>
                        <dt>Arizona</dt>
                        <dd>Phoenix <span class="text-nowrap">(Main Office)</span></dd>

                        <dt>California</dt>
                        <dd>Los Angeles</dd>

                        <dt>Florida</dt>
                        <dd>Orlando</dd>
                        <dd>Tampa</dd>

                        <dt>Georgia</dt>
                        <dd>Atlanta</dd>

                        <dt>Nevada</dt>
                        <dd>Las Vegas</dd>

                        <dt>Utah</dt>
                        <dd>Salt Lake City</dd>
                    </dl>
                    <dl class="text-muted">
                        <dt>North Carolina <span class="text-nowrap">&ndash; <em>Coming Soon</em></span></dt>
                        <dd>Charlotte</dd>

                        <dt>Texas <span class="text-nowrap">&ndash; <em>Coming Soon</em></span></dt>
                        <dd>Houston</dd>
                    </dl>
                </div>
            </div>
        </section>
        <section class="container-small bg-gray-50 pt-l pb-l text-center">
            <h2>Contact us</h2>
            <p>We understand that selling your home online is a new concept, so we're here to help you through the process.</p>
            <p><a href="mailto:info@offerpad.com">info@offerpad.com</a> | <a href="tel:+18443884539">844-388-4539</a></p>
        </section>
    </main>
    {% include example-footer.html %}
</div>
