---
title: Offer Page Example
description: Example of OfferPad offer page.
---

<div class="page">
    {% include example-header.html %}
    <main class="page__main bg-orange-500 offer-page">
        <div media-tablet="spacer-m" media-desktop="!spacer-m spacer-l"></div>
        <section class="box bg-white px-m py-s" media-tablet="display-flex align-items-center justify-content-between">
            <div media-tablet="pr-m">
                <h1>Here&rsquo;s your offer</h1>
                <p>Hi Sandy Neil! Check out the offer we've prepared for you.</p>
            </div>
            <address class="house-address">
                514 E 100 St<br />
                Orem, UT 84097
            </address>
        </section>
        <div media-tablet="spacer-m"></div>
        <section class="box bg-white px-m py-s offer-details">
            <h2 class="h3">Offer details</h2>
            <div class="offer-details__row mb-xs">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    OfferPad Offer
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    Traditional Offer
                </div>
            </div>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell" media-tablet="text-size-xl">
                    $125,000
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell" media-tablet="text-size-xl">
                    $125,000
                </div>
            </div>
            <h3 class="h5 mb-xs">OfferPad Fees <span class="font-weight-normal">vs</span> Agent Commissions</h3>
            <div class="offer-details__row">
                <div class="offer-details__column bg-orange-100 offer-details__cell">
                    -$7,500
                </div>
                <div class="offer-details__column bg-gray-100 offer-details__cell">
                    -$7,500
                </div>
            </div>
            <p class="fine-print mt-xs">Average real estate fees are typically 6%.</p>
            <h3 class="h5 mb-xs">OfferPad Experience</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    -$3,738
                </div>
                <div class="bg-gray-100 offer-details__column  offer-details__cell">
                    $0
                </div>
            </div>
            <p class="fine-print mt-xs">Pick your close date, enjoy certainty that the deal won’t fall through, remain in your home up to 3 days after closing and let us move you for free*.</p>
            <h3 class="h5 mb-xs">Estimated Title &amp; Escrow</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    $0
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    -$938
                </div>
            </div>
            <p class="fine-print mt-xs">OfferPad pays all of the seller’s title and escrow fees.&sup1;</p>
            <h3 class="h5 mb-xs">Average repairs</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    TBD
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    TBD
                </div>
            </div>
            <p class="fine-print mt-xs">Any major repairs your home needs to get ready for sale should be included here.</p>
            <h3 class="h5 mb-xs">Estimated Monthly Ownership Costs</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    $0
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    -$6,000
                </div>
            </div>
            <p class="fine-print mt-xs">We’ve estimated an average of $1,500 per month for mortgage, taxes, insurance and HOA fees. OfferPad sales typically close within 30 days.</p>
            <h3 class="h5 mb-xs">Estimated Moving &amp; Storage Costs</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    $0
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    -$2,500
                </div>
            </div>
            <p class="fine-print mt-xs">Let OfferPad move you for free and avoid the need for storage.*</p>
            <h3 class="h5 mb-xs">Estimated Cash at Closing</h3>
            <div class="offer-details__row mb-xs">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    OfferPad Offer
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    Traditional Offer
                </div>
            </div>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell" media-tablet="text-size-xl">
                    $113,763
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell" media-tablet="text-size-xl">
                    $108,063
                </div>
            </div>
            <h3 class="h5 mb-xs">Average days to find a buyer</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    0
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    90
                </div>
            </div>
            <p class="fine-print mt-xs">It takes an average of 90 days to find a buyer&mdash;as reported by realtor.com&sup2;</p>
            <h3 class="h5 mb-xs">Average days to close</h3>
            <div class="offer-details__row">
                <div class="bg-orange-100 offer-details__column offer-details__cell">
                    You pick!
                </div>
                <div class="bg-gray-100 offer-details__column offer-details__cell">
                    50
                </div>
            </div>
            <p class="fine-print mt-xs">It takes an average of 50 days to close&mdash;as reported by realtor.com&sup2;</p>
        </section>
        <div media-tablet="spacer-m" media-desktop="!spacer-m spacer-xl"></div>
    </main>
    {% include example-footer.html class="site-footer--no-nav" %}
</div>
