@mixin nav-link-color {
    color: $link-color-alt;
    cursor: pointer;
    .c-header--dark & {
        color: $link-color-light;
    }
    @include hover-focus {
        color: $link-color-hover;
        background-color: $color-op-white-smoke;
        .c-header--dark & {
            color: $link-color-light-hover;
            background-color: $color-op-black;
        }
    }
}

.c-header {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
    align-items: stretch;
    width: 100%;
    height: $header-height;
    @include padding(0 0.5);
    background: $bg-color;
    @include type-layout(s, 1);
    @include box_shadow(1);
    .c-menu-icon {
        align-self: center;
        @include bp-navigation {
            display: none;
        }
    }
    &__logo {
    }
    &__nav {
        display: inline-block;
        @include bp-navigation {
            > ul {
                display: flex;
            }
        }
        li {
            margin: 0;
        }
        &--mobile {
            display: none;
            position: absolute;
            height: calc(100vh - #{$header-height});
            top: $header-height;
            left: 0;
            right: 0;
            bottom: 0;
            @include padding(0 0.5);
            overflow: auto;
            background: $bg-color;
            @include bp-navigation {
                position: static;
                display: inline-block;
                height: auto;
                top: auto;
                left: auto;
                right: auto;
                bottom: 0;
                padding: 0;
                background: transparent;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        @include padding(0.5);
        font-weight: weight(bold);
        @include nav-link-color();
        text-decoration: none;
    }
    &__drawer {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $bg-color;
        @include bp-navigation {
            top: $header-height;
            position: absolute;
        }
        &__close {
            position: absolute;
            display: block;
            height: $header-height;
            width: 100%;
            @include padding(0 0.5);
            background-image: none;
            background-color: $bg-color;
            border: 0;
            @include nav-link-color();
            @include bp-navigation {
                display: none;
            }
        }
        &__inner {
            height: 100%;
            @include padding(2 0.5 0);
            overflow: auto;
            background: $bg-color;
            @include box_shadow(1);
            @include bp-navigation {
                height: auto;
                display: flex;
                @include padding(0 1 1);
            }
        }
        a {
            @include nav-link-color();
        }
    }
    &--dark {
        background: $bg-color-dark;
        .c-header__nav,
        .c-header__drawer,
        .c-header__drawer__close,
        .c-header__drawer__inner {
            background: $bg-color-dark;
        }
    }
}

.c-fancy-drawer {
    @include padding(2 0 0);
    @include bp-navigation {
        padding: 0;
    }
    ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        @include bp-navigation {
            flex-direction: row;
        }
    }
    li {
        display: block;
        width: 100%;
    }
    &__box {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 50%;
        text-align: center;
        span {
            display: block;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
