.c-logo-offerpad {
    display: block;
     // default sizes. overwritten where implemented
    height: 1rem;
    width: 7.75rem;
    &__logotype {
        fill: #aeadaf;
    }
    &__chevron {
        fill: $color-op-saffron;
    }
}
