.c-house-address {
    display: inline-flex;
    align-items: center;
    @include padding(0.5 1 0.5 0);
    font-style: normal;
    border-radius: 0.25rem;
    @include typeface(headline);
    border: $border-width-2 solid $border-color;
    .svg-inline--fa {
        font-weight: normal;
        @include type-layout(xl, 1);
        @include margin(0 0.5);
        color: $text-color-muted;
    }
    &__street {
        font-weight: weight(bold);
        display: block;
    }
}
