$input-font-size: 1rem;
$input-line-height: 1.5;
$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$input-border-width: $border-width-1;
$input-box-shadow: inset 0 1px 1px rgba($color-op-black,.075);

// these are used to enforce heights.
$input-height-border: $input-border-width * 2;
$input-height-inner: ($input-font-size * $input-line-height) + ($input-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});


// input parents
.c-form-group {
    @include margin-bottom(1);
}

// input elements

.c-form-control { // via bootstrap
    display: block;
    width: 100%;
    font-size: $input-font-size;
    line-height: $input-line-height;
    padding: $input-padding-y $input-padding-x;
    color: $color-op-black;
    background-color: $color-op-white;
    background-image: none;
    background-clip: padding-box;
    border: $input-border-width solid $border-color;
    border-radius: 0;
    box-shadow: $input-box-shadow;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    &:focus {
        border-color: $focus-color;
        outline: none;
        box-shadow: $input-box-shadow, $focus-shadow;
    }
    &::placeholder {
        color: $placeholder-color;
        opacity: 1;
    }
    &:disabled,
    &[readonly] {
        background-color: $disabled-bg-color;
        opacity: 1;
    }
}

select.c-form-control {
    &:not([size]):not([multiple]) {
        height: $input-height;
    }
    &:focus::-ms-value {
        color: $color-op-black;
        background-color: $color-op-white;
    }
}

.c-form-check {
    position: relative;
    display: block;
    &__label {
        @include padding-left(1);
        margin-bottom: 0;
    }
    &__input {
        position: absolute;
        @include margin-left(-1);
        margin-top: 0.25rem;
    }
}

.c-form-check-icon {
    display: block;
    position: relative;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    input[type=checkbox],
    input[type=radio] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        ~ label {
            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 1rem;
                height: 1rem;
                left: 0;
                top: 0.25rem;
            }
        }
        ~ label::before {
            pointer-events: none;
            user-select: none;
            background-color: $color-op-mist;
        }
        ~ label::after {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        &:checked ~ label::before {
            background-color: $color-op-magma;
            color: $color-op-white;
        }
        &:disabled ~ label {
            color: $text-color-muted;
        }
        &:disabled ~ label::before {
            background-color: $color-op-white-smoke;
        }
        &:focus ~ label::before {
            box-shadow: 0 0 0 1px $color-op-white, $focus-shadow;
        }
    }
    input[type=checkbox] {
        ~ label {
            &::before {
                border-radius: $radius-int;
            }
        }
        &:checked ~ label::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$color-op-white}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
    }
    input[type=radio] {
        ~ label {
            &::before {
                border-radius: 50%;
            }
        }
        &:checked ~ label::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$color-op-white}'/%3E%3C/svg%3E");
        }
    }
}

// form layouts

.c-form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .c-form-check {
        width: 100%;
    }
    @include bp-mobile-large {
        .c-form-group {
            display: flex;
            flex: 0 0 auto;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 0;
        }
        .c-form-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
    }
}
