.c-logo--offerpad {
    display: block;
    background-image: url('../images/offerpad-logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    @include hide-text;
     // default sizes. overwritten where implemented
    height: 1rem;
    width: 7.75rem;
}
