$button-border-width: $border-width-1;

@mixin button-variant($background) {
    $hover-background: link-hover-focus($background);
    @include color-yiq($background);
    background-color: $background;
    border-color: darken($background, 5%);
    background-repeat: repeat-x;
    @include hover-focus {
        background-color: $hover-background;
    }
    &:disabled,
    &.disabled {
        background-color: $background;
    }
    &:active,
    &.is-active {
        background-color: $hover-background;
        background-image: none;
        box-shadow: inset 0 3px 8px rgba(0,0,0,0.25);
    }
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $button-border-width solid transparent;
    padding: 0.5rem 0.75rem;
    @include typeface(body);
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    @include box_shadow(1);
    cursor: pointer;
    &:focus {
        outline: 0;
        box-shadow: $focus-shadow;
    }
    &:disabled,
    &.disabled {
        opacity: 0.65;
        cursor: not-allowed;
        box-shadow: none;
    }
    &:active,
    &.is-active {
        box-shadow: none;
    }
}

@each $color, $value in $op-color-theme {
    .btn--#{$color} {
        @include button-variant($value);
    }
}
