.c-house-address {
    @include padding(0.5 0 0.5 0.75);
    font-style: normal;
    line-height: line-height(0.75);
    @include typeface(headline);
    border-left: $border-width-2 solid $border-color;
    &__street {
        font-weight: weight(bold);
        display: block;
    }
    &__market {
        font-size: font-size(s);
        display: block;
    }
}
