html,
body {
    height: 100%;
}

html {
    @include typeface(body);
    color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
