li {
    @include margin-top(0.125);
    @include margin-bottom(0.125);
}

dl {
    margin-bottom: 0;
}
dt {
    font-weight: weight(bold);
}
dd {
    margin-left: 0;
    @include margin-bottom(1);
}
