@import 'vendor/bourbon/functions/shade';
@import 'vendor/bourbon/functions/tint';

// oranges (for branding and emphasis)
$color-op-saffron:      #ff6c2c;
$color-op-magma:        #fa4b00;

// teals (headlines and accents)
$color-op-pacific:      #1ca1b5;

// // grays (for layout and text)
// $color-op-black:        #060d0f;
// $color-op-steel:        #0f272b;
// $color-op-pewter:       #86b1b7;
// $color-op-silver:       #a7c6ca;
// $color-op-mist:         #ccdee1;
// $color-op-white-smoke:  #dce8ea;
// $color-op-white:        #ffffff;

// grays (for layout and text)
$color-op-black:        #060d0f;
$color-op-steel:        #2c3238;
$color-op-pewter:       #686868;
$color-op-silver:       #AEADAF;
$color-op-mist:         #d7d4d3;
$color-op-white-smoke:  #EFEFEF;
$color-op-white:        #ffffff;

// blues (for links and ui)
$color-op-cerulean:     #1d7ea7;
$color-op-moonstone:    #6facc7;

// bootstrap state colors
$color-bs-cyan:     #17a2b8;
$color-bs-green:    #28a745;
$color-bs-yellow:   #ffc107;
$color-bs-red:      #dc3545;

$op-colors: (
    "saffron":      $color-op-saffron,
    "magma":        $color-op-magma,
    "pacific":      $color-op-pacific,
    "black":        $color-op-black,
    "steel":        $color-op-steel,
    "pewter":       $color-op-pewter,
    "silver":       $color-op-silver,
    "mist":         $color-op-mist,
    "white-smoke":  $color-op-white-smoke,
    "white":        $color-op-white,
    "cerulean":     $color-op-cerulean,
    "moonstone":    $color-op-moonstone,
    "bs-green":     $color-bs-green,
    "bs-yellow":    $color-bs-yellow,
    "bs-red":       $color-bs-red
);

$op-colors-ui: (
    "special":      $color-op-magma,
    "primary":      $color-op-cerulean,
    "neutral":      $color-op-silver,
    "success":      $color-bs-green,
    "warning":      $color-bs-yellow,
    "danger":       $color-bs-red
);

@function op-color($key: 'saffron') {
    @return map-get($op-colors, $key);
}
@function op-color-ui($key: 'special') {
    @return map-get($op-colors-ui, $key);
}

@function link-hover-focus($color) {
    @return lighten($color, 15%);
}

// layout colors

$bg-color: $color-op-white;
$bg-color-dark: $color-op-steel;
$border-color: $color-op-mist;

// text colors

$text-color: $color-op-steel;
$text-color-muted: $color-op-pewter;
$text-color-light: $color-op-white;

$link-color: $color-op-cerulean;
$link-color-hover: link-hover-focus($link-color);
$link-color-alt: $color-op-pacific;
$link-color-alt-hover: link-hover-focus($link-color-alt);
$link-color-light: $color-op-silver;
$link-color-light-hover: link-hover-focus($link-color-light);

$placeholder-color: $color-op-pewter;

$code-bg-color: #f8f8f8;
$code-text-color: #dd1144;

// miscellaneous colors

$focus-color: $color-op-moonstone;
$focus-shadow: 0 0 10px $color-op-moonstone,
    0 0 5px $color-op-moonstone;
$disabled-bg-color: $color-op-mist;
