// @font-face {
//     font-family: "Verb";
//     font-weight: 300;
//     font-style: normal;
//     src: url('/floorplan/assets/fonts/verb/verblight-webfont.woff') format('woff');
// }
// @font-face {
//     font-family: "Verb";
//     font-weight: 300;
//     font-style: italic;
//     src: url('/floorplan/assets/fonts/verb/verblight-italic-webfont.woff') format('woff');
// }
@font-face {
    font-family: "Verb";
    font-weight: 400;
    font-style: normal;
    src: url('/floorplan/assets/fonts/verb/verbregular-webfont.woff') format('woff');
}
@font-face {
    font-family: "Verb";
    font-weight: 400;
    font-style: italic;
    src: url('/floorplan/assets/fonts/verb/verbregular-italic-webfont.woff') format('woff');
}
@font-face {
    font-family: "Verb";
    font-weight: 600;
    font-style: normal;
    src: url('/floorplan/assets/fonts/verb/verbsemibold-webfont.woff') format('woff');
}
@font-face {
    font-family: "Verb";
    font-weight: 600;
    font-style: italic;
    src: url('/floorplan/assets/fonts/verb/verbsemibold-italic-webfont.woff') format('woff');
}
@font-face {
    font-family: "Verb";
    font-weight: 700;
    font-style: normal;
    src: url('/floorplan/assets/fonts/verb/verbbold-webfont.woff') format('woff');
}
@font-face {
    font-family: "Verb";
    font-weight: 700;
    font-style: italic;
    src: url('/floorplan/assets/fonts/verb/verbbold-italic-webfont.woff') format('woff');
}

$font-weight: (
    bold: 700,
    semibold: 600,
    normal: 400
);

$base-font-size: 16px;
$base-line-height: 24px;
$base-unit: 'rem';
$rem-fallback: false;

$font-size: (
  xxl: 40px,
  xl:  32px,
  l:   24px,
  m:   $base-font-size,
  s:   14px,
  xs:  11px,
);
$indent-amount: 40px;
$normalize-vertical-rhythm: false;

$op-sans-serif: -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    Arial,
    sans-serif;
$op-monospace: Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;

$op-verb: join("Verb", $op-sans-serif, comma);

$typefaces: (
    body: (
        font-family: $op-verb,
        weight: normal
    ),
    headline: (
        font-family: $op-verb,
        weight: normal
    ),
    monospace: (
        font-family: $op-monospace
    )
);
