// Breakpoints and media queries

$bp-mobile-large: 36rem; // 576px/16px
$bp-tablet: 48rem; // 768px
$bp-desktop: 62rem; // 992px
$bp-desktop-large: 75rem; // 1200px

// layout
$content-padding: 1.5rem;
$content-width: 45rem; // 720px/16px
$content-width-small: 33rem; // 528px/16px
$content-width-large: 72rem; // 1152px/16px

$header-height: 3rem;

$border-width-1: 0.0625rem;
$border-width-2: $border-width-1 * 2;
