@import 'vendor/bourbon/functions/shade';
@import 'vendor/bourbon/functions/tint';

// oranges (for branding and emphasis)
$color-op-pumpkin:      #ff6c2c;
$color-op-tangelo:      #fa4b00;

// teals (headlines and accents)
$color-op-pacific:      #1ca1b5;

// grays (for layout and text)
$color-op-black:        #060d0f;
$color-op-space-gray:   #0f272b;
$color-op-pewter:       #86b1b7;
$color-op-pale-aqua:    #bad2d6;
$color-op-azure-white:  #dce8ea;
$color-op-white-smoke:  #eef4f5;
$color-op-white:        #ffffff;

// blues (for links and ui)
$color-op-cerulean:     #1d7ea7;
$color-op-moonstone:    #6facc7;

// bootstrap state colors
$color-bs-cyan:     #17a2b8;
$color-bs-green:    #28a745;
$color-bs-yellow:   #ffc107;
$color-bs-red:      #dc3545;

$op-colors: (
    "pumpkin":      $color-op-pumpkin,
    "tangelo":      $color-op-tangelo,
    "pacific":      $color-op-pacific,
    "black":        $color-op-black,
    "space-gray":   $color-op-space-gray,
    "pewter":       $color-op-pewter,
    "pale-aqua":    $color-op-pale-aqua,
    "azure-white":  $color-op-azure-white,
    "white-smoke":  $color-op-white-smoke,
    "white":        $color-op-white,
    "cerulean":     $color-op-cerulean,
    "moonstone":    $color-op-moonstone,
    "bs-green":     $color-bs-green,
    "bs-yellow":    $color-bs-yellow,
    "bs-red":       $color-bs-red
);

$op-colors-ui: (
    "special":      $color-op-tangelo,
    "primary":      $color-op-cerulean,
    "success":      $color-bs-green,
    "warning":      $color-bs-yellow,
    "danger":       $color-bs-red
);

@function op-color($key: 'pumpkin') {
    @return map-get($op-colors, $key);
}
@function op-color-ui($key: 'special') {
    @return map-get($op-colors-ui, $key);
}

@function link-hover-focus($color) {
    @return lighten($color, 15%);
}

// layout colors

$bg-color: op-color('white');
$bg-color-dark: op-color('space-gray');
$border-color: op-color('azure-white');

// text colors

$text-color: op-color('space-gray');
$text-color-muted: op-color('pewter');
$text-color-light: op-color('white');

$link-color: op-color('cerulean');
$link-color-hover: link-hover-focus($link-color);
$link-color-alt: op-color('pacific');
$link-color-alt-hover: link-hover-focus($link-color-alt);
$link-color-light: op-color('pale-aqua');
$link-color-light-hover: link-hover-focus($link-color-light);

$placeholder-color: op-color('pewter');

$code-bg-color: #f8f8f8;
$code-text-color: #dd1144;

// miscellaneous colors

$focus-color: op-color('moonstone');
$focus-shadow: 0 0 10px op-color('moonstone'),
    0 0 5px op-color('moonstone');
$disabled-bg-color: op-color('azure-white');
