//@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
@import url("https://use.typekit.net/pgk7dzx.css");

$fa-font-path: '../fonts/font-awesome';
@import 'vendor/fontawesome/font-awesome';

$font-weight: (
    bold: 600,
    normal: 300
);

$base-font-size: 16px;
$base-line-height: 24px;
$base-unit: 'rem';
$rem-fallback: false;

$font-size: (
  xxl: 40px,
  xl:  32px,
  l:   24px,
  m:   $base-font-size,
  s:   14px,
  xs:  11px,
);
$indent-amount: 40px;
$normalize-vertical-rhythm: false;

$op-sans-serif: -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    Arial,
    sans-serif;
$op-monospace: Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;

$op-roboto: join("Roboto", $op-sans-serif, comma);
$op-rubik: join("Rubik", $op-sans-serif, comma);
$op-ffmark: join("FFMark", $op-sans-serif, comma);
$op-basic: join("basic-sans", $op-sans-serif, comma);

$typefaces: (
    body: (
        font-family: $op-basic,
        weight: normal
    ),
    headline: (
        font-family: $op-basic,
        weight: normal
    ),
    monospace: (
        font-family: $op-monospace
    )
);
