.u-border {
    border: $border-width-1 solid $border-color !important;
}
.u-border-top {
    border-top: $border-width-1 solid $border-color !important;
}
.u-border-right {
    border-right: $border-width-1 solid $border-color !important;
}
.u-border-bottom {
    border-bottom: $border-width-1 solid $border-color !important;
}
.u-border-left {
    border-left: $border-width-1 solid $border-color !important;
}

.u-border-0        { border: 0 !important; }
.u-border-top-0    { border-top: 0 !important; }
.u-border-right-0  { border-right: 0 !important; }
.u-border-bottom-0 { border-bottom: 0 !important; }
.u-border-left-0   { border-left: 0 !important; }

.u-border-2        { border-width: $border-width-2 !important; }
.u-border-top-2    { border-top-width: $border-width-2 !important; }
.u-border-right-2  { border-right-width: $border-width-2 !important; }
.u-border-bottom-2 { border-bottom-width: $border-width-2 !important; }
.u-border-left-2   { border-left-width: $border-width-2 !important; }

.u-border-4        { border-width: $border-width-2 * 2 !important; }
.u-border-top-4    { border-top-width: $border-width-2 * 2 !important; }
.u-border-right-4  { border-right-width: $border-width-2 * 2 !important; }
.u-border-bottom-4 { border-bottom-width: $border-width-2 * 2 !important; }
.u-border-left-4   { border-left-width: $border-width-2 * 2 !important; }

.u-radius               { border-radius: $radius !important; }
.u-radius-interactive   { border-radius: $radius-int !important; }
