@each $size, $value in $font-size {
    .text-size-#{$size} {
        @include font-size($size);
        line-height: 1;
    }
}

.text-headline {
    @include typeface(headline);
}
.text-copy {
    @include typeface(body);
}

p.lead {
    @include type-layout(l, 1.25);
    @include margin(1 0, l);
}
p.small {
    @include type-layout(s, 1);
    @include margin(1 0, s);
}
p.fine-print {
    @include type-layout(xs, 0.75);
    @include margin(1 0, xs);
}

.list--unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

.text-nowrap { white-space: nowrap !important; }

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.font-weight-light  { font-weight: 300 !important; }
.font-weight-normal { font-weight: 400 !important; }
.font-weight-bold   { font-weight: 700 !important; }

.font-style-italic { font-style: italic; }
.font-style-normal { font-style: normal; }
