// margin and padding util classes

$op-spacing: (
    z: 0,
    xs: 0.25,
    s: 0.5,
    m: 1,
    l: 2,
    xl: 4,
    xxl: 8
);

@each $prop in (margin, padding) {
    @each $size, $length in $op-spacing {
        .u-#{$prop}-#{$size} {
            #{$prop}: $length * 1.5rem !important;
        }
        .u-#{$prop}-t-#{$size},
        .u-#{$prop}-y-#{$size} {
            #{$prop}-top: $length * 1.5rem !important;
        }
        .u-#{$prop}-r-#{$size},
        .u-#{$prop}-x-#{$size} {
            #{$prop}-right: $length * 1.5rem !important;
        }
        .u-#{$prop}-b-#{$size},
        .u-#{$prop}-y-#{$size} {
            #{$prop}-bottom: $length * 1.5rem !important;
        }
        .u-#{$prop}-l-#{$size},
        .u-#{$prop}-x-#{$size} {
            #{$prop}-left: $length * 1.5rem !important;
        }
    }
}

.u-margin-auto {
    margin: auto !important;
}
.u-margin-t-auto,
.u-margin-y-auto {
    margin-top: auto !important;
}
.u-margin-r-auto,
.u-margin-x-auto {
    margin-right: auto !important;
}
.u-margin-b-auto,
.u-margin-y-auto {
    margin-bottom: auto !important;
}
.u-margin-l-auto,
.u-margin-x-auto {
    margin-left: auto !important;
}

// spacing elements

@each $size, $length in $op-spacing {
    .u-spacer-#{$size} {
        display: block;
        width: 100%;
        height: $length * 1.5rem;
    }
}
