// margin and padding util classes

$op-spacing: (
    z: 0,
    xs: 0.25,
    s: 0.5,
    m: 1,
    l: 2,
    xl: 4,
    xxl: 8
);

@each $prop, $abbr in (margin: m, padding: p) {
    @each $size, $length in $op-spacing {
        .u-#{$abbr}-#{$size} {
            #{$prop}: $length * 1.5rem !important;
        }
        .u-#{$abbr}t-#{$size},
        .u-#{$abbr}y-#{$size} {
            #{$prop}-top: $length * 1.5rem !important;
        }
        .u-#{$abbr}r-#{$size},
        .u-#{$abbr}x-#{$size} {
            #{$prop}-right: $length * 1.5rem !important;
        }
        .u-#{$abbr}b-#{$size},
        .u-#{$abbr}y-#{$size} {
            #{$prop}-bottom: $length * 1.5rem !important;
        }
        .u-#{$abbr}l-#{$size},
        .u-#{$abbr}x-#{$size} {
            #{$prop}-left: $length * 1.5rem !important;
        }
    }
}

.u-m-auto {
    margin: auto !important;
}
.u-mt-auto,
.u-my-auto {
    margin-top: auto !important;
}
.u-mr-auto,
.u-mx-auto {
    margin-right: auto !important;
}
.u-mb-auto,
.u-my-auto {
    margin-bottom: auto !important;
}
.u-ml-auto,
.u-mx-auto {
    margin-left: auto !important;
}

// spacing elements

@each $size, $length in $op-spacing {
    .u-spacer-#{$size} {
        display: block;
        width: 100%;
        height: $length * 1.5rem;
    }
}
