@each $size, $value in $font-size {
    .u-text-size-#{$size} {
        @include font-size($size);
        line-height: 1;
    }
}

.u-text-headline {
    @include typeface(headline);
}
.u-text-copy {
    @include typeface(body);
}

.u-h {
    &1, &2, &3,
    &4, &5, &6 {
        @include headline-style;
    }
}

.u-para-lead {
    @include type-layout(l, 1.25);
    @include margin(1 0, l);
}
.u-para-small {
    @include type-layout(s, 1);
    @include margin(1 0, s);
}
.u-para-fine {
    @include type-layout(xs, 0.75);
    @include margin(1 0, xs);
}

.u-list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.u-text-left   { text-align: left !important; }
.u-text-right  { text-align: right !important; }
.u-text-center { text-align: center !important; }

.u-text-nowrap { white-space: nowrap !important; }

.u-text-lowercase  { text-transform: lowercase !important; }
.u-text-uppercase  { text-transform: uppercase !important; }
.u-text-capitalize { text-transform: capitalize !important; }

.u-font-weight-light  { font-weight: 300 !important; }
.u-font-weight-normal { font-weight: 400 !important; }
.u-font-weight-bold   { font-weight: 700 !important; }

.u-font-style-italic { font-style: italic; }
.u-font-style-normal { font-style: normal; }
