// Breakpoints and media queries

$bp-navigation: "(min-width: 992px)";

// Type

$roboto: extend-font-stack("Roboto", $sans-serif-stack);

$typefaces: (
  sans-serif: (
    font-family: $roboto
  )
);
