// Breakpoints and media queries

$bp-desktop: 992px;

// colors

$op-colors: (
    'black':        #333333,
    'grey-dark':    #686868,
    'grey':         #aeadaf,
    'grey-light':   #d7d4d3,
    'offwhite':     #f7f7f7,
    'white':        #ffffff,

    'orange':       #ff6c2c,
    'orange-light': #fdbca6,
    'orange-dark':  #d74000,

    'grey-blue':    #2c3238,
    'blue-iris':    #14c0c0
);

@function op-color($key: 'grey') {
    @return map-get($op-colors, $key);
}

// Type

$op-roboto: extend-font-stack("Roboto", $sans-serif-stack);

$op-monospace: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; // thanks, bootstrap!

$typefaces: (
  sans-serif: (
    font-family: $op-roboto
  ),
  monospace: (
    font-family: $op-monospace
  )
);

$header-height: 3rem;
$navigation-width: 20rem;

$bg-color: op-color('white');
$border-color: op-color('grey-light');

$code-bg-color: #f8f8f8;
$code-text-color: #dd1144;

$text-color: op-color('black');
$text-color-muted: op-color('grey');
$link-color: op-color('orange-dark');
$link-color-hover: op-color('orange');
