// borrowed from https://codepen.io/FStop/pen/ojrAq

.c-swatches {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding-left: 0;
    overflow: hidden;
    list-style: none;
    @each $color-name, $color-value in $op-colors {
        &--#{$color-name}{
            .c-swatches__swatch {
                background-color: $color-value;
                color: color-yiq($color-value);
            }
        }
    }
    &__item {
        width: 12rem;
        @include margin-bottom(0.25);
        @include margin-right(0.25);
        @include padding(0.25);
        border: $border-width-1 solid $color-op-mist;
        border-radius: $radius;
    }
    &__swatch {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include font-size(s);
        width: 100%;
        height: 6rem;
        @include margin-bottom(0.25);
    }
    &__label {
        font-weight: weight(semibold);
        letter-spacing: 0.01em;
    }
    &__hex {
        @include typeface('monospace');
    }
    &__description {
        @include type-layout(xs, 0.75);
        @include margin(0.25);
    }
}
