// borrowed from https://codepen.io/FStop/pen/ojrAq

.swatches {
    @each $color-name, $color-value in $op-colors {
        &--#{$color-name}{
            .swatches__swatch {
                background-color: $color-value;
            }
        }
    }
    padding-left: 0;
    overflow: hidden;
    list-style: none;
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include margin-bottom(0.25);
        @include padding(0.25);
        border: $border-width-1 solid op-color('gray-100');
    }
    &__swatch {
        display: block;
        min-width: 2rem;
        height: 4rem;
        flex-grow: 2;
        @include margin-right(0.125);
    }
    &__label {
        min-width: 9rem;
    }
    &__label,
    &__hex {
        display: block;
        white-space: pre;
        @include type-layout(s, 1);
        @include margin-right(0.125);
        border-radius: 0;
        background-color: transparent;
    }
}
