$nav-slide-duration: 0.3s;

.page__main--styleguide {
    transition-property: margin-left, margin-right;
    transition-duration: $nav-slide-duration;
    transition-timing-function: ease-out;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: op-color('grey-blue');
        opacity: 0;
        pointer-events: none;
        transition-property: opacity;
        transition-duration: $nav-slide-duration;
        transition-timing-function: ease-out;
    }
}

body.body--nav-open {
    overflow: hidden;
    @include bp-navigation {
        .page__main--styleguide {
            margin-left: $navigation-width;
            margin-right: -1 * $navigation-width;
            transition-timing-function: ease-in;
            &:after {
                opacity: 0.5;
                pointer-events: initial;
                transition-timing-function: ease-in;
            }
        }
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: $bg-color;
    @include box_shadow(1);
    &__header {
        display: flex;
        align-items: center;
        height: $header-height;
        @include padding(0 0.5);
        .menu-icon {
            @include margin-right(2/3);
        }
    }
    &__logo {
        display: block;
        height: 1.125rem;
        width: 8.625rem;
    }
    &__list {
        display: none;
        height: calc(100vh - #{$header-height});
        @include padding(0 1);
        overflow: auto;
        .navigation__logo {
            display: none;
            + .navigation__group {
                border-top: 2px solid op-color('grey-light');
                @include padding-top(0.125);
            }
        }
    }
    ul {
        padding-left: 0;
        margin: 0;
    }
    li {
        list-style: none;
        text-align: left;
        font-weight: 600;
        font-style: italic;
        a {
            display: block;
            @include padding(0.25 1);
            color: op-color('grey-dark');
            text-decoration: none;
            @include hover-focus {
                background-color: op-color('offwhite');
            }
        }
    }
    .list-header {
        text-transform: uppercase;
        font-style: normal;
        @include margin-top(1);
        @include padding-bottom(0.125);
        @include margin-bottom(0.125);
        border-bottom: 2px solid op-color('grey-light');
    }
    @include bp-navigation {
        left: 0;
        bottom: 0;
        width: $header-height + $navigation-width;
        flex-direction: row-reverse;
        justify-content: space-between;
        transition-property: margin-left;
        transition-duration: $nav-slide-duration;
        transition-timing-function: ease-in;
        &.js-collapsed {
            margin-left: -1 * $navigation-width;
            transition-timing-function: ease-out;
        }
        &__header {
            height: 100%;
            width: $header-height;
            flex-direction: column;
            @include padding(0.25 0);
            .navigation__logo {
                display: none;
            }
            .menu-icon {
                margin-right: 0;
            }
        }
        &__list {
            display: block;
            height: 100%;
            width: $navigation-width;
            @include padding(0 1);
            .navigation__logo {
                display: block;
                height: $header-height;
            }
        }
    }
}
