<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head-tags.html %}
    </head>
    <body>
        <div class="o-page">
            {% include header.html %}
            <div class="o-page__main">
                <div class="u-bg-gray-50">
                    <div class="c-container">
                        <div class="u-spacer-m"></div>
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}<p class="lead">{{ page.description }}</p>{% endif %}
                        <div class="u-spacer-m"></div>
                    </div>
                </div>
                <div class="c-container u-pt-m u-pb-m">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
