<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head-tags.html %}
    </head>
    <body>
        <div class="page">
            {% include header.html %}
            <div class="page__main">
                <div class="bg-gray-50">
                    <div class="container">
                        <div class="spacer-m"></div>
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}<p class="lead">{{ page.description }}</p>{% endif %}
                        <div class="spacer-m"></div>
                    </div>
                </div>
                <div class="container pt-m pb-m">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
