<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head-tags.html %}
    </head>
    <body>
        <div class="o-page">
            {% include header.html %}
            <div class="o-page__main">
                <div class="c-hero-floorplan">
                    <div class="u-spacer-m" media-tablet="u-spacer-xl"></div>
                    <div media-tablet="c-hero-floorplan__door c-hero-floorplan__door--left"></div>
                    <div media-tablet="c-hero-floorplan__door c-hero-floorplan__door--right"></div>
                    <div class="c-container">
                        <h1 class="u-text-center" media-tablet="c-hero-heading-1">Floorplan</h1>
                    </div>
                    <div class="u-spacer-m" media-tablet="u-spacer-xl"></div>
                </div>
                <div class="c-hero-floorplan__measure js-fp-measure" data-value="1200 px">
                </div>
                <div class="c-container u-pt-m u-pb-m">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
