@each $size, $value in $font-size {
    .text-size-#{$size} {
        @include font-size($size);
        line-height: 1;
    }
}

.text-headline {
    @include typeface(headline);
}
.text-copy {
    @include typeface(body);
}

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

.text-nowrap { white-space: nowrap !important; }

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

.font-weight-light  { font-weight: 300 !important; }
.font-weight-normal { font-weight: 400 !important; }
.font-weight-bold   { font-weight: 700 !important; }
