*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
    position: relative;
    &__main {
        padding-top: $header-height;
        height: 100%;
    }
}

.content {
    @include container();
}
