*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
    position: relative;
    &__main {
        padding-top: $header-height;
        height: 100%;
    }
}

.content {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
