*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    &__navigation {
        @include padding(1);
    }
    &__content {
        @include padding(1);
    }
    @media #{$bp-navigation} {
        flex-direction: row;
        &__navigation {
            min-width: 20rem;
        }
    }
}
